.work-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    margin: auto;
}

.box {
    display: flex;
    align-items: center;
    margin: 20px;

}

.card {
    margin: 20px;
    padding: 20px;
    background-color: rgb(156, 110, 250);
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 1px 1px;
}

.card:hover {
    box-shadow: rgb(255, 255, 255) 4px 4px;
    transition: .3s;
    transform: translate(-10px, -10px);
}

.card img {
    width: 30px;
    mix-blend-mode: multiply;
}

.card h3 {
    margin: 5px 5px;
}

.card h4 {
    margin: 5px 0;
}

.card p {
    margin: 5px 0;
}


@media screen and (max-width: 800px) {
    .box {
        flex-direction: column;
        width: 80vw;
    }

    .card {
        width: 100%;
    }


}